.Contact {
  width: 100%;
  height: auto;
  padding-top: 74px;
  padding-bottom: 40px;
  display: flex;
  align-items: center;
  flex-direction: column;
  h1 {
    padding-top: 40px;
  }
  .text-fields {
    width: 100%;
    max-width: 400px;
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    box-sizing: border-box;
    button {
     width: 40%;
     height: 40px;
     font-size: x-large;
     cursor: pointer;
     background-color: #022850;
     color: white;
     border-radius: 10px;
    }
    button:hover {
     background-color: #022850dd;
    }
  }
  @media screen and (max-width: 420px) {
    padding-top: 10px;
    .text-fields {
      padding-inline: 20px;
    }
  }
}
