.Home {
  width: 100%;
  /*  display: flex;
 align-items: flex-start;
 justify-content: center; */
  padding-top: 74px;
  .svg-div {
    width: 100%;
    overflow: hidden;
    img {
      width: 101%;
      transform: rotate(180deg);
    }
  }
  .section-1 {
/*     width: 100%; */
    display: flex;
    align-items: flex-start;
    justify-content: center;
    padding-inline: 120px;
    h1 {
     font-size: 80px;
    }
  }
}
