.Projects {
  width: 100%;
  height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding-top: 74px;
  padding-inline: 120px;
  box-sizing: border-box;
  h1 {
    padding-block: 40px;
  }
  .project-cards {
    padding-bottom: 80px;
  }
  @media screen and (max-width: 1200px) {
    padding-inline: 90px;
  }
  @media screen and (max-width: 800px) {
    padding-inline: 20px;
  }
  @media screen and (max-width: 420px) {
    h1 {
      font-size: 50px;
    }
    padding-top: 40px;
  }
}
