.Footer {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  .svg-div {
    width: 100%;
    height: auto;
    overflow: hidden;
    img {
      margin-left: -5px;
      margin-bottom: -5px;
      width: 105%;
    }
  }
  h1 {
    font-size: 50px;
    font-weight: bold;
    margin-top: 0;
    padding-bottom: 20px;
  }
  h2 {
    height: auto;
    font-weight: bold;
    font-size: 24px;
  }
  span {
    color: #00dd55;
  }
  p {
    font-size: 22px;
    text-align: justify;
    line-break: 10px;
    margin: 0;
  }
  .contact-container {
    width: 100%;
    height: auto;
    padding-inline: 120px;
    background-color: #022850;
    color: white;
    box-sizing: border-box;
    padding-bottom: 60px;
    margin-top: -2px;
    .contact-content {
      width: 100%;
      height: fit-content;
      display: flex;
      align-items: flex-start;
      justify-content: center;
      gap: 100px;
      .contact-text {
        width: 50%;
        height: auto;
        display: flex;
        align-items: center;
        h2 {
          padding-top: 15px;
          text-align: right;
        }
      }
      .contact-links {
        width: 50%;
        padding-left: 30px;
        height: auto;
        display: flex;
        flex-direction: column;
        gap: 20px;
        border-left: solid white 2px;
        .contact-row {
          width: fit-content;
        }
        .logo-container {
          padding-top: 10px;
          padding-left: 30px;
          width: 100%;
          height: auto;
          display: flex;
          align-items: center;
          gap: 20px;
          filter: invert(1);
          img {
            height: 40px;
            width: auto;
            filter: grayscale(100%);
            cursor: pointer;
          }
        }
      }
    }
  }
  @media screen and (min-width: 1440px) {
  }
  @media screen and (max-width: 1200px) {
    .contact-container {
      padding-inline: 90px;
    }
  }
  @media screen and (max-width: 800px) {
    h2 {
      font-size: 20px;
    }
    span,
    p {
      font-size: 18px;
    }
    .contact-container {
      padding-inline: 60px;
      .contact-content {
        flex-direction: column;
        gap: 20px;
        .contact-text {
          width: 100%;
        }
        .contact-links {
          width: 100%;
          border-left: 0;
          display: flex;
          flex-direction: row;
          justify-content: space-evenly;
          padding-left: 0;
          padding-top: 20px;
          border-top: solid 2px white;
        }
      }
    }
  }
  @media screen and (max-width: 420px) {
    h1 {
      font-size: 30px;
      margin: 0;
    }
    h2 {
      font-size: 14px;
    }
    span,
    p {
      font-size: 10px;
    }
    .contact-container {
      padding-inline: 20px;
      padding-bottom: 20px;
      .contact-content {
        gap: 10px;
        .contact-links {
         padding-top: 10px;
          .logo-container {
            gap: 10px;
            img {
              height: 30px;
            }
          }
        }
      }
    }
  }
}
