.Footer {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
.Footer .svg-div {
  width: 100%;
  height: auto;
  overflow: hidden;
}
.Footer .svg-div img {
  margin-left: -5px;
  margin-bottom: -5px;
  width: 105%;
}
.Footer h1 {
  font-size: 50px;
  font-weight: bold;
  margin-top: 0;
  padding-bottom: 20px;
}
.Footer h2 {
  height: auto;
  font-weight: bold;
  font-size: 24px;
}
.Footer span {
  color: #00dd55;
}
.Footer p {
  font-size: 22px;
  text-align: justify;
  line-break: 10px;
  margin: 0;
}
.Footer .contact-container {
  width: 100%;
  height: auto;
  padding-inline: 120px;
  background-color: #022850;
  color: white;
  box-sizing: border-box;
  padding-bottom: 60px;
  margin-top: -2px;
}
.Footer .contact-container .contact-content {
  width: 100%;
  height: -moz-fit-content;
  height: fit-content;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  gap: 100px;
}
.Footer .contact-container .contact-content .contact-text {
  width: 50%;
  height: auto;
  display: flex;
  align-items: center;
}
.Footer .contact-container .contact-content .contact-text h2 {
  padding-top: 15px;
  text-align: right;
}
.Footer .contact-container .contact-content .contact-links {
  width: 50%;
  padding-left: 30px;
  height: auto;
  display: flex;
  flex-direction: column;
  gap: 20px;
  border-left: solid white 2px;
}
.Footer .contact-container .contact-content .contact-links .contact-row {
  width: -moz-fit-content;
  width: fit-content;
}
.Footer .contact-container .contact-content .contact-links .logo-container {
  padding-top: 10px;
  padding-left: 30px;
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  gap: 20px;
  filter: invert(1);
}
.Footer .contact-container .contact-content .contact-links .logo-container img {
  height: 40px;
  width: auto;
  filter: grayscale(100%);
  cursor: pointer;
}
@media screen and (max-width: 1200px) {
  .Footer .contact-container {
    padding-inline: 90px;
  }
}
@media screen and (max-width: 800px) {
  .Footer h2 {
    font-size: 20px;
  }
  .Footer span,
  .Footer p {
    font-size: 18px;
  }
  .Footer .contact-container {
    padding-inline: 60px;
  }
  .Footer .contact-container .contact-content {
    flex-direction: column;
    gap: 20px;
  }
  .Footer .contact-container .contact-content .contact-text {
    width: 100%;
  }
  .Footer .contact-container .contact-content .contact-links {
    width: 100%;
    border-left: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding-left: 0;
    padding-top: 20px;
    border-top: solid 2px white;
  }
}
@media screen and (max-width: 420px) {
  .Footer h1 {
    font-size: 30px;
    margin: 0;
  }
  .Footer h2 {
    font-size: 14px;
  }
  .Footer span,
  .Footer p {
    font-size: 10px;
  }
  .Footer .contact-container {
    padding-inline: 20px;
    padding-bottom: 20px;
  }
  .Footer .contact-container .contact-content {
    gap: 10px;
  }
  .Footer .contact-container .contact-content .contact-links {
    padding-top: 10px;
  }
  .Footer .contact-container .contact-content .contact-links .logo-container {
    gap: 10px;
  }
  .Footer .contact-container .contact-content .contact-links .logo-container img {
    height: 30px;
  }
}/*# sourceMappingURL=Footer.css.map */