.open {
  height: -moz-fit-content;
  height: fit-content;
}

.close {
  height: 280px;
}

@media screen and (max-width: 800px) {
  .close {
    height: -moz-fit-content;
    height: fit-content;
  }
}
.ProjectDetail {
  width: 100%;
  margin-bottom: 20px;
  box-sizing: border-box;
  position: relative;
  border-radius: 10px;
  background-color: #006b8f;
  color: rgb(255, 255, 255);
  overflow: hidden;
}
.ProjectDetail h3 {
  margin: 0;
  text-align: left;
}
.ProjectDetail .project-content {
  width: 100%;
  height: -moz-fit-content;
  height: fit-content;
  padding: 70px 20px 20px 20px;
  display: flex;
  gap: 20px;
  border-radius: inherit;
  box-sizing: border-box;
}
.ProjectDetail .project-content .project-header {
  position: absolute;
  right: 0;
  top: 0;
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  padding-block: 8px;
  padding-inline: 10px;
  box-sizing: border-box;
  background-color: rgba(255, 255, 255, 0.377);
  border-top-right-radius: inherit;
  border-top-left-radius: inherit;
  filter: invert(1);
}
.ProjectDetail .project-content .project-header .project-title h1 {
  color: black;
  font-size: 36px;
  margin: 0;
  padding: 0;
  text-align: left;
}
.ProjectDetail .project-content .project-header .project-links {
  width: -moz-fit-content;
  width: fit-content;
  display: flex;
  align-items: center;
  gap: 10px;
}
.ProjectDetail .project-content .project-header .project-links .icon-container {
  background-color: transparent;
  border: unset;
}
.ProjectDetail .project-content .project-header .project-links .icon-container img {
  cursor: pointer;
  width: 40px;
  filter: grayscale(100%);
}
.ProjectDetail .project-content .project-header .project-links .active {
  transform: scaleY(-1);
  transition: transform 0.2s;
}
.ProjectDetail .project-content .project-header .project-links .passiv {
  transform: scaleY(1);
  transition: transform 0.2s;
}
.ProjectDetail .project-content .project-preview {
  width: 60%;
  height: -moz-fit-content;
  height: fit-content;
  padding-bottom: 20px;
}
.ProjectDetail .project-content .project-preview img {
  width: 100%;
  height: auto;
  border-radius: 5px;
}
.ProjectDetail .project-content .project-info {
  width: 40%;
  height: -moz-fit-content;
  height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: justify;
  padding-bottom: 20px;
}
.ProjectDetail .project-content .project-info .row {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 20px;
}
.ProjectDetail .project-content .project-info .stacks {
  font-weight: bold;
}
.ProjectDetail .project-content .box-bottom {
  background-image: linear-gradient(to top, #006b8f, #006b8f, rgba(0, 107, 143, 0.5568627451), rgba(0, 107, 143, 0));
  height: 50px;
  box-sizing: border-box;
  width: 100%;
  position: absolute;
  left: 0;
  bottom: 0;
  border-bottom-right-radius: inherit;
  border-bottom-left-radius: inherit;
  z-index: 1;
}
@media screen and (max-width: 1200px) {
  .ProjectDetail h2 {
    font-size: 2vw;
  }
  .ProjectDetail h3 {
    font-size: 1.7vw;
  }
  .ProjectDetail p {
    font-size: 1.5vw;
  }
  .ProjectDetail .project-content .project-header .project-title h1 {
    font-size: 25px;
  }
}
@media screen and (max-width: 800px) {
  .ProjectDetail .project-content .project-header .project-title h1 {
    font-size: 18px;
  }
  .ProjectDetail .project-content .project-header .project-links .icon-container img {
    width: 30px;
  }
  .ProjectDetail button {
    display: none;
  }
}
@media screen and (max-width: 420px) {
  .ProjectDetail .project-content {
    padding-top: 50px;
  }
  .ProjectDetail .project-content .project-header .project-title h1 {
    font-size: 16px;
  }
  .ProjectDetail .project-content .project-header .project-links .icon-container img {
    width: 15px;
  }
}/*# sourceMappingURL=ProjectDetail.css.map */