a {
  text-decoration: none;
  color: inherit;
}

a img {
  border: none;
}

body {
  font-family: "Quicksand", sans-serif;
}

#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.App {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: white;
}
